.lb-loader,.lightbox{text-align:center;line-height:0;position:fixed;left:0;}
body.lb-disable-scrolling{overflow:hidden}
.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none; height:100%;}
.lightbox{positon:fixed; width:100%;z-index:10000;font-weight:400;outline:0;top:52% !important;left:50% !important;transform:translate(-50%,-50%);}
.lightbox .lb-image{display:block;max-width:inherit;max-height:none;}
.lightbox a img{border:none}
.lb-outerContainer{position:relative;width:300px;height:auto !important;margin:0 auto;}
.lb-outerContainer:after{content:"";display:table;clear:both}
.lb-loader{top:43%;height:25%;width:100%}
.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}

.lb-container {height:40em; overflow-y:scroll;}
.lb-container>.nav{left:0;}

.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.lb-dataContainer:after{content:"";display:table;clear:both}
.lb-data{padding:0 4px;color:#ccc}
.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}
.lb-data .lb-caption a{color:#4ae}
.lb-data .lb-number{display:none !important;}
.lb-data .lb-close{display:block;position:absolute;top:50px;right:20px;z-index:9999999;float:right;width:15px;height:15px;background:url(images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

@media screen and (max-width: 480px) {

  .lb-outerContainer{
    width: 100% !important;
  }

  .lightbox .lb-image{
    width: 100% !important;
    height: auto !important;
    position: absolute;
    top: 50vw;
  }

  .lb-data .lb-close{display:block;position:relative;top:-580px;right:20px;z-index:9999999;float:right;width:15px;height:15px;background:url(images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
}
